
<div class="row">
  <div class="col-12">
    <h1>    <%= link_to 'Types', prismic_document_engine.root_path %></h1>
    <table class="table table-hover table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">published</th>
        <th scope="col">type</th>
        <th scope="col">tags</th>
        <th scope="col">slices</th>
        <th scope="col">name</th>
        <th scope="col">domain</th>
        <th scope="col">path</th>
        <th scope="col">title</th>
        <th scope="col">description</th>

      </tr>
      </thead>
      <tbody>
      <% @docs.each do |doc| %>
        <tr>
          <td><%= doc.id %></td>
          <td><%= doc.first_publication_date&.strftime("%d/%m/%Y") %></td>
          <td><%= doc.type %></td>
          <td><%= doc.tags[0] %></td>
          <td><%= doc["#{doc.type}.body"]&.slices&.length %></td>
          <td><%= doc.fragments["name"]&.as_text %></td>
          <td><%= doc.fragments["domain"]&.as_text %></td>
          <td><%= doc.fragments["path"]&.as_text %></td>
          <td><%= doc.fragments["title"]&.as_text %></td>
          <td><%= doc.fragments["description"]&.as_text&.truncate(10) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

