<div class="image <%= image_type %>">
  <% if intro_text %>
    <p class="lead"><%= intro_text.html_safe %></p>
  <% end %>
  <a target="_blank" href="<%= image.get_view('main').internal_image_url %>" loading="lazy">
    <picture alt="<%= image.alt %>">
      <source media="(max-width: 400px)", srcset="<%= image.get_view('mobile').internal_image_url %>"/>
      <source srcset="<%= image.get_view('main').internal_image_url %>" loading="lazy" />
      <img class="mx-auto d-block" src="<%= image.get_view('main').internal_image_url %>" loading="lazy" alt="<%= image.alt %>" />
    </picture>
  </a>
  <% if image_type == "disabled_infographic" %>
    <div class="embed-code">
    <div style="text-align: center;">
      Embed code:
      <br/>
      <textarea readonly style="width: 600px; height: 75px; border:1px solid #ccc !important">
        <a href="https://word.tips<%= image.get_view('main').internal_image_url %>" loading="lazy">
          <imgs rc="https://word.tips<%= image.get_view('main').internal_image_url %>" loading="lazy" alt="<%= image.alt %>" title="<%= request.domain %> Infographic"/>
        </a><br/>
        <a href="https://www.Word.Tips" title="Word.Tips">By Word.Tips</a>
      </textarea>
    </div>
  </div>
  <% end %>
 <% if outro_text %>
    <p class="lead"><%= outro_text.html_safe %></p>
  <% end %>
</div>
